.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/scopes/scope_settings.xml
.idea/workspace.xml
.idea/apki na tele.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
